<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BG</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
    
    <link rel="stylesheet" href="__PUBLIC__/css/min.css" />
</head>

        <div id="head">
            <div class="left">
                <a href="#" class="button profile"><img src="__PUBLIC__/images/icons/top/huser.png" alt="" /></a>
                Hi, 
                <a href="#">{$Think.session.name}</a>
                |
                <a href="__APP__/Home/logout/index" target="_parent">退出系统</a>
            </div>
            
        </div>
        
</html>