<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BG</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <base target="_blank">
</head>
     <frameset rows="5%,95%" frameborder="no">
	  <frame src="__APP__/Home/Index/top" name="top" id="top" title="top">
	  <frameset cols="15%,85%">
	   <frame src="__APP__/Home/Index/left" name="left" id="left" title="left">
	   <frame src="__APP__/Home/Index/right" name="right" id="right" title="right">
	  </frameset>
 </frameset>
</html>