<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>BG</title>
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">

<link rel="stylesheet" href="__PUBLIC__/css/app.css">
<link rel="stylesheet" href="__PUBLIC__/css/form.css">
<style type='text/css'>
@media print {
	.NoPrint {
		display: none;
	}
}
</style>
</head>
<body class="home-template">

	<div class="body-center">
		<div class="content-wrap">
			<div class="row">
				<div class="body-right col-md-9">

					<div class="information"
						style="font-family: bold; padding-top: 10px">
						<p class="in_title" style="text-align: center">
							<b>个人信息修改</b>
						</p>
						<form action="{:U('Home/Rent/modifyPersonHandle')}" method="post"
							target="right" class="basic-grey">
							<input type="hidden" name="id" value={$personInfo.id}>
							<span>请将以下信息填写完整</span>
							</h1>
							<label> <span>校园卡号：</span> <input type="text"
								name="card_number" value={$personInfo.card_number}>
							</label>
							</h1>
							<label> <span>姓名：</span> <input type="text" name="name" value={$personInfo.name}>
							</label> <label> <span>性别：</span> <select name="sex"
								onChange="getMan()">
									<if condition="$personInfo.sex eq '男'">
									<option selected="selected">男</option>
									<else />
									<option >男</option>
									</if>
									<if condition="$personInfo.sex eq '女'">
									<option selected="selected">女</option>
									<else />
									<option >女</option>
									</if>
							</select>
							</label> <label> <span>人员类别：</span> <select name="type"
								onChange="getMan()" >
								<foreach name="type" item="t">
									<eq name="t.name" value="$personInfo.type">
									<option selected="selected">{$t.name}</option>
									<else /><option >{$t.name}</option>
									</eq>
								</foreach>
							</select>
							<span>部门：</span><input type="text" name="department" value={$personInfo.department}>
							<!-- </label> <label> <span>部门：</span> <select name="department"
								onChange="getMan()">
									<if condition="$personInfo.department eq '物业管理中心'">
									<option selected="selected">物业管理中心</option>
									<else /><option >物业管理中心</option>
									</if>
									<if condition="$personInfo.department eq '学生公寓管理中心'">
									<option selected="selected">学生公寓管理中心</option>
									<else /><option >学生公寓管理中心</option>
									</if>
									<if condition="$personInfo.department eq '饮食服务中心'">
									<option selected="selected">饮食服务中心</option>
									<else /><option >饮食服务中心</option>
									</if>
									<if condition="$personInfo.department eq '水电管理中心'">
									<option selected="selected">水电管理中心</option>
									<else /><option >水电管理中心</option>
									</if>
									<if condition="$personInfo.department eq '维修服务中心'">
									<option selected="selected">维修服务中心</option>
									<else /><option >维修服务中心</option>
									</if>
									<if condition="$personInfo.department eq '物资采购与管理中心'">
									<option selected="selected">物资采购与管理中心</option>
									<else /><option >物资采购与管理中心</option>
									</if>
									<if condition="$personInfo.department eq '园林绿化中心'">
									<option selected="selected">园林绿化中心</option>
									<else /><option >园林绿化中心</option>
									</if>
									<if condition="$personInfo.department eq '消杀防治中心'">
									<option selected="selected">消杀防治中心</option>
									<else /><option >消杀防治中心</option>
									</if>
									<if condition="$personInfo.department eq '场馆中心'">
									<option selected="selected">场馆中心</option>
									<else /><option >场馆中心</option>
									</if>
									<if condition="$personInfo.department eq '督导办公室'">
									<option selected="selected">督导办公室</option>
									<else /><option >督导办公室</option>
									</if>
									<if condition="$personInfo.department eq '党委办公室'">
									<option selected="selected">党委办公室</option>
									<else />
									<option>党委办公室</option>
									</if>
							</select> -->
							</label> <label> <span>房租代扣方：</span><select name="daikoufang"
								onChange="getMan()">
									<eq name="personInfo.daikoufang" value="工资库代扣">
										<option selected="selected">工资库代扣</option>
										<else />
										<option >工资库代扣</option>
									</eq>
									<eq name="personInfo.daikoufang" value="师院代扣">
										<option selected="selected">师院代扣</option>
										<else />
										<option>师院代扣</option>
									</eq>
									<eq name="personInfo.daikoufang" value="附中代扣">
										<option selected="selected">附中代扣</option>
										<else />
										<option>附中代扣</option>
									</eq>
									<eq name="personInfo.daikoufang" value="银行代扣">
										<option selected="selected">银行代扣</option>
										<else />
										<option>银行代扣</option>
									</eq>
							</select>
							</label> <label> <span>入站时间（博士后填写）：</span> <input type="date"
								name="ruzhan" value={$personInfo.ruzhan_time}>
							</label> <label> <span>出站时间（博士后填写）：</span> <input type="date"
								name="chuzhan" value={$personInfo.chuzhan_time}>
							</label> <label> <span>电话号码：</span> <input type="text"
								name="phone_number" value={$personInfo.phone_number}>
							</label> <label> <span>折扣起始时间：</span> <input type="date"
								name="discount_time" value={$personInfo.discount_time}>
							</label>
							<div class="table-foot NoPrint" style="text-align: center">
								<br>
								<button type="submit" class="btn btn-primary">确定</button>
								<a class="btn btn-primary" href="{:U('People/peopleInfo')}">返回</a>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>